@use '../abstract/' as *;

button{
    padding: 6px 16px;
    border-radius: 200px;
    font-size: $p;
    font-weight: $bold;
    text-shadow: $text-shadow;
    box-shadow: $box-shadow;
    outline: none;
    cursor: pointer;

    &:hover, &:focus{
        box-shadow: $hover-shadow;
    }
}

.button.primary{
    border: none;
    background-color: $complementary;
    color: $light;
}

.button.secondary{
    margin-top: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: $complementary; 
    color: $complementary;
    background-color: $transparent;
}