@use "../abstract/" as *;

.nav{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.nav-circle-container{
    position: absolute;
    top: 50%;
    left: calc(50% + 524px);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.nav-circle{
    width: 1rem;
    height: 1rem;
    background-color: $complementary;
    border-radius: 50%;
    margin-bottom: 8px;
    opacity: 50%;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    

    &:hover{
        opacity: 100%;
    }
}

@media (max-width: $tablet){
    .nav-circle-container{
        flex-direction: row;
        top: calc(50% + 328px);
        left: 50%;
        transform: translateX(-50%);
    }
    .nav-circle{
        margin-left: 8px;
    }

}