@use '../abstract/' as *;


.paper{
    position: relative;
    width: 1000px;
    height: 640px;
    border-radius: 15px;
    background: $paper-gradient;
    backdrop-filter: blur(20px);
    overflow: hidden;
    margin: 8px;
}

