@use '../abstract/' as *;


.works{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    h1{
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(90deg) translateX(140px) translateY(184px);
    }
}

.works-content{
    width: 100%;
    height: 100%;
    padding: 64px;
}

.works-circle{
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 400px;
    height: 400px;
    background-color: $complementary;
    border-radius: 50%;
    z-index: -1;

}
.laptop-img{
    position: absolute;
    width: 540px;
    height: 540px;
    right: 64px;
    z-index: -1;
}
.fitness-tracker{
    position: absolute;
    width: 540px;
    height: 540px;
    right: 64px;
    z-index: -1;
}
.works-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        color: $complementary;
        margin-bottom: 45px; 
    }

    p{
        width: 510px;
    }
}

.works-links{
    display: flex;
    margin-top: 7px;

}

.works-nav{
    position: absolute;
    display: flex;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
}
.works-nav-circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $complementary;
    margin-left: 8px;

}