$complementary: rgb(255,163,102,1);
$light: rgb(255,255,255,1);
$main: rgb(0,158,253,1);
$dark: rgba(51,8,103,1);
$transparent: rgba(0,0,0,0);

$paper-gradient: linear-gradient(90deg, rgba(0,107,255,0.40) 20%, rgba(209,228,255,0.40) 100%);
$background-gradient: linear-gradient(45deg, rgba(219,219,219,1) 0%, rgba(251,251,251,1) 50%, rgba(219,219,219,1) 100%);
$form-gradient: linear-gradient(90deg, rgba(209,228,255,0.75) 0%, rgba(63,143,255,0.75) 100%);
