$complementary: rgb(255,163,102,1);
$light: rgb(255,255,255,1);
$main: rgb(0,158,253,1);
$dark: rgba(10,10,10,1);
$transparent: rgba(0,0,0,0);

$paper-gradient: linear-gradient(-90deg, rgba(255,255,255,0.20) 0%, rgba(148,148,148,0.25) 75%);
$background-gradient: radial-gradient( rgba(67,67,67,1) 0%, rgba(10,10,10,1) 100%);
$form-gradient: linear-gradient(90deg, rgba(209,228,255,0.75) 0%, rgba(63,143,255,0.75) 100%);
