@use '../abstract/' as *;

.introduction{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    span{
        color: $light;
    }
}

#name{
    color: $complementary;
}

