@use '../abstract/' as *;

.paper-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    transition: opacity 1000ms ease-in-out;
}
.paper{
    position: relative;
    width: 1000px;
    height: 640px;
    border-radius: 15px;
    background: $paper-gradient;
    overflow: hidden;
    margin: 8px;
}
  
.content-container{
    position: relative;
    width: 1000px;
    height: 640px;
    border-radius: 15px;
    overflow: hidden;
}

.view-container{
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0%;
    transition: opacity 1000ms ease-in-out;
    justify-content: center;
    align-items: center;
}
.section-view{
    max-width: 1000px;
    width: 100%;
    height: 640px;
    margin: 8px;
    overflow: hidden;
    z-index: 1000;
}

.section-container{
    transform: translateY(0px);
}