.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #dbdbdb 0%, #fbfbfb 50%, #dbdbdb 100%);
}

.background-top {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1102px;
  max-height: 614px;
}

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 1467px;
  max-height: 594px;
}

.introduction {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0%;
}

.introduction h2 {
  margin-bottom: 21px;
}

.intro-button {
  padding: 6px 16px;
  border-radius: 8px;
  border-style: solid;
  border-color: #FFA366;
  color: #FFA366;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  margin-top: 20px;
}

.about {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0%;
}

.about h1 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg) translateX(140px) translateY(172px);
          transform: rotate(90deg) translateX(140px) translateY(172px);
}

.circle {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-80px) translateY(80px);
          transform: translateX(-80px) translateY(80px);
  width: 500px;
  height: 500px;
  background-color: #FFA366;
  border-radius: 50%;
}

img {
  position: absolute;
  bottom: 0;
}

.about-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text-container h3 {
  margin-left: 128px;
  margin-bottom: 45px;
}

.text-container p {
  width: 660px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github {
  margin-left: 16px;
  width: 40px;
  height: 40px;
}

.skills {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills h1 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg) translateX(100px) translateY(144px);
          transform: rotate(90deg) translateX(100px) translateY(144px);
}

.skills-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
}

.circle-container {
  position: relative;
  max-width: 248px;
  max-height: 248px;
}

.circle-container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.circle-bar {
  width: 200px;
  height: 200px;
}

.circle-progress {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: calc(100 * 2 * 3.14);
  stroke-dashoffset: calc(100 * 2 * 3.14 - ( 90 / 100 * 100 * 2 * 3.14));
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 24px;
}

@media (max-width: 960px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  line-height: 34px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -9px;
  color: #FFFFFF;
  opacity: 75%;
}

button {
  padding: 6px 16px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 200px;
  color: #FFFFFF;
  background-color: #FFA366;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.paper {
  width: 1000px;
  height: 640px;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 107, 255, 0.4)), to(rgba(209, 228, 255, 0.4)));
  background: linear-gradient(90deg, rgba(0, 107, 255, 0.4) 20%, rgba(209, 228, 255, 0.4) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  overflow: hidden;
}

.paper-title {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.square-64 {
  position: absolute;
  width: 64px;
  height: 64px;
  opacity: 50%;
  margin-left: 130px;
  margin-top: 724px;
  background-color: gray;
}

.square-16 {
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 50%;
  margin-left: 130px;
  margin-top: 572px;
  background-color: gray;
}
/*# sourceMappingURL=styles.css.map */