button{
    border: none;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    text-transform: uppercase;
    padding: 8px 16px;
    margin: 8px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 120px;
    max-width: 120px;
    box-shadow: $shadow;
    &:hover, &:focus{
        box-shadow: $hoverShadow;
        font-weight: 500;
        outline: none;
        transition: color 150ms ease-in-out;
        transition: box-shadow 150ms ease-in-out;
        .border-left, .border-right{
            width: 50%;
            transition: width 150ms ease-in-out;
        }
        .border-top, .border-bottom{
            height: 50%;
            transition: height 150ms ease-in-out;
        }
        h2{
            color: $darkColor
        }
    }
  
    .border-left{
        @include button-border-side;
        left: 0;
    }
    .border-right{
        @include button-border-side;
        right: 0;
    }
    .border-top{
        @include button-border;
        top: 0;
    }
    .border-bottom{
        @include button-border;
        bottom: 0;
    }
    h2{
        color: $lightColor;
        z-index: 100;
    }
}