

.label-container{
    position: absolute;
    top: calc(20% + 656px);
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    align-items: center;
    h2{
        color: $lightColor;
    }
}

.label{
    opacity: 0%;
    transition: opacity 200ms ease-in-out;
}