

.skills{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(90deg)  translateX(100px) translateY(144px);
    }
}

.skills-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: flex-end;
}
.circle-container{
    position: relative;
    max-width: 248px;
    max-height: 248px;
    
    h3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: rgb(255,255,255);
        
    }
 
}
.circle-progress{
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: calc(100 * 2 * 3.14) ;
    stroke-dashoffset: calc(100 * 2 * 3.14 - ( 90 / 100 * 100 * 2 * 3.14));
}
