@use 'abstract/' as *;
@use 'components/text';
@use 'components/background';
@use 'components/introduction';
@use 'components/about';
@use 'components/skills';
@use 'components/works';
@use 'components/contact';
@use 'components/nav';
@use 'components/button';
@use 'components/paper';
@use 'components/title';

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    box-sizing: border-box;
}

