@use 'abstract/' as *;
@use 'components/background';
@use 'components/introduction';
@use 'components/about';
@use 'components/skills';
@use 'components/works';
@use 'components/contact';
@use 'components/nav';
@use 'components/text';
@use 'components/button';
@use 'components/paper';

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    box-sizing: border-box;
}

.square-64{
    position: absolute;
    width: 64px;
    height: 64px;
    opacity: 50%;
    margin-left: 130px;
    margin-top: 724px;
    background-color: gray;
    opacity: 0%;
}

.square-16{
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 50%;
    margin-left: 680px;
    margin-top: 936px;
    background-color: gray;
    opacity: 0%;
}