html {
  font-size: 24px;
}

@media (max-width: 1200px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
.p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  line-height: 34px;
}

@media (max-width: 600px) {
  .p {
    line-height: 20px;
  }
}
.h3 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.h2 {
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.h1 {
  font-size: 8rem;
  font-weight: 700;
  color: #0a0a0a;
  opacity: 75%;
  letter-spacing: -9px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#434343 0%, #0a0a0a 100%);
}

.introduction {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0%;
}
.introduction h2 {
  margin-bottom: 21px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-circle {
  position: absolute;
  bottom: 0;
  transform: translateX(-80px) translateY(80px);
  width: 500px;
  height: 500px;
  background-color: #ffa366;
  border-radius: 50%;
  opacity: 0%;
}

.about-img {
  position: absolute;
  bottom: 0;
  opacity: 0%;
  width: 460px;
}

.about-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-container {
  margin-left: 128px;
  margin-bottom: 45px;
}

#header-2 {
  color: #ffa366;
}

#line {
  display: inline-block;
  width: 6px;
  background-color: #0a0a0a;
  height: 40px;
  opacity: 100%;
}

.about-p {
  width: 660px;
  transform: translateX(960px);
}

.button-container {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(300px);
}

.github {
  margin-left: 16px;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.github:hover {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

@media (max-width: 1200px) {
  .about-img {
    width: 400px;
  }

  .about-circle {
    width: 440px;
    height: 440px;
  }

  .about-p {
    width: 600px;
  }

  .about-content {
    padding: 48px;
  }
}
@media (max-width: 600px) {
  .about-img {
    width: 280px;
  }

  .about-circle {
    width: 320px;
    height: 320px;
  }

  .about-content {
    justify-content: flex-start;
    padding: 64px;
  }

  .about-p {
    width: auto;
  }

  .header-container {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .github {
    width: 30px;
    height: 30px;
  }
}
.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: flex-end;
}

.circle-container {
  position: relative;
  max-width: 248px;
  max-height: 248px;
}

.circle-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0%;
}

.circle-bar {
  width: 200px;
  height: 200px;
  opacity: 0%;
  transition: opacity 200ms ease-in-out;
}

.circle-progress {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 628;
  transition: stroke-dashoffset 200ms ease-in-out;
  stroke-dashoffset: 628;
}

@media (max-width: 1200px) {
  .skills-content {
    padding: 48px;
  }

  .circle-bar {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 600px) {
  .skills-content {
    padding: 128px 8px;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    justify-items: center;
  }

  .circle-bar {
    width: 140px;
    height: 140px;
  }
}
.works {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-circle {
  position: absolute;
  right: 64px;
  top: 64px;
  width: 400px;
  height: 400px;
  background-color: #ffa366;
  border-radius: 50%;
  z-index: -1;
}

.laptop-img {
  position: absolute;
  width: 540px;
  height: 540px;
  right: 64px;
  z-index: -1;
}

.works-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition-delay: 1000ms;
}

.works-card {
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-title {
  color: #ffa366;
  margin-bottom: 45px;
  transform: translateX(900px);
}

.work-description {
  width: 510px;
  transform: translateX(900px);
}

.work-links {
  display: flex;
  margin-top: 7px;
  transform: translateX(900px);
}

.works-nav {
  position: absolute;
  display: flex;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100px;
}

.works-nav-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffa366;
  margin-left: 8px;
  opacity: 50%;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.works-nav-circle:hover {
  opacity: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.works-nav-circle.active {
  opacity: 100%;
}

@media (max-width: 1200px) {
  .works-content {
    padding: 48px;
  }

  .laptop-img {
    right: 48px;
  }

  .works-circle {
    right: 48px;
  }
}
@media (max-width: 600px) {
  .works-content {
    padding: 8px;
  }

  .works-card {
    justify-content: flex-end;
    padding-bottom: 32px;
  }
  .works-card h3 {
    margin-bottom: 20px;
  }
  .works-card p {
    width: auto;
  }

  .works-circle {
    width: 215px;
    height: 215px;
    top: 120px;
    right: 16px;
    z-index: 0;
  }

  .laptop-img {
    width: 300px;
    height: 300px;
    top: 64px;
    right: 8px;
    z-index: 0;
  }
}
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.contact-content {
  width: 100%;
  height: 100%;
  padding: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

form {
  width: 480px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

input {
  padding: 6px 16px;
  border-radius: 200px;
  margin-bottom: 16px;
  border: none;
  background: rgba(211, 211, 211, 0.75);
  color: white;
  font-size: 1rem;
  transform: translateX(550px);
}
input:focus {
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.9);
}
input::placeholder {
  color: #0a0a0a;
  opacity: 50%;
}

textarea {
  border-radius: 26px;
  padding: 6px 16px;
  margin-bottom: 16px;
  height: 340px;
  resize: none;
  border: none;
  background: rgba(211, 211, 211, 0.75);
  color: white;
  font-size: 1rem;
  transform: translateX(550px);
}
textarea:focus {
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.9);
}
textarea::placeholder {
  color: #0a0a0a;
  opacity: 50%;
}

#submit {
  transform: translateX(550px);
}

@media (max-width: 1200px) {
  .contact-content {
    padding: 48px;
  }
}
@media (max-width: 600px) {
  .contact-content {
    padding: 32px;
  }
}
.nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.nav-circle-container {
  position: absolute;
  top: 50%;
  left: calc(50% + 524px);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.nav-circle {
  width: 1rem;
  height: 1rem;
  background-color: #ffa366;
  border-radius: 50%;
  margin-bottom: 8px;
  opacity: 50%;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.nav-circle:hover {
  opacity: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-circle.active {
  opacity: 100%;
}

@media (max-width: 1200px) {
  .nav-circle-container {
    flex-direction: row;
    top: calc(50% + 328px);
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-circle {
    margin-left: 8px;
  }
}
button {
  padding: 6px 16px;
  border-radius: 200px;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
}
button:hover, button:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.button.primary {
  border: none;
  background-color: #ffa366;
  color: white;
}

.button.secondary {
  margin-top: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: #ffa366;
  color: #ffa366;
  background-color: rgba(0, 0, 0, 0);
}

.paper-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  position: relative;
  width: 1000px;
  height: 640px;
  border-radius: 15px;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.2) 0%, rgba(148, 148, 148, 0.25) 75%);
  overflow: hidden;
  margin: 8px;
}

.content-container {
  position: relative;
  width: 1000px;
  height: 640px;
  border-radius: 15px;
  overflow: hidden;
}

.view-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-view {
  max-width: 1000px;
  width: 100%;
  height: 640px;
  margin: 8px;
  overflow: hidden;
  z-index: 1000;
}

.section-container {
  transform: translateY(0px);
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-178px) translateX(640px);
}

@media (max-width: 1200px) {
  .title {
    transform: rotate(90deg) translateY(-148px);
  }
}
@media (max-width: 600px) {
  .title {
    transform: rotate(90deg) translateY(-118px);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
