

.projects-paper{
    @include paper;
}

.project-card-view{
    width: 448px;
    overflow-x: hidden;
}
.project-card-container{
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    transform: translateX(-448px);
}

.project-card{
    width: 448px;
}

.project-img{
    width: 384px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 8px;
}

.links-container{
    display: flex;
    justify-content: flex-end;
}

.dot-container{
    display: flex;
    justify-content: center;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
    background-color: $mediumColor;
    opacity: 50%;
    cursor: pointer;

    &:hover{
        opacity: 100%;
        transition: opacity 150ms ease-in-out;
    }
}