
@mixin percent-bar($width) {
    height: 100%;
    background-color: $lightColor;
    opacity: 100%;
    border-radius: 8px;
    width: $width;
}

.skills-paper{
    @include paper;
}

.body-container{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}

.skill-container{
    margin-bottom: 16px;
}
.percent-bar-container{
    width: 100%;
    height: 16px;
    background-color: rgba(248,255,229,.20);
    border-radius: 8px;
}

.javascript-percent-bar{
    @include percent-bar(85%);
}

.react-percent-bar{
    @include percent-bar(85%);
}

.html-percent-bar{
    @include percent-bar(70%);
}

.css-percent-bar{
    @include percent-bar(70%);
}

.nodejs-percent-bar{
    @include percent-bar(60%);
}

.java-percent-bar{
    @include percent-bar(75%);
}