@import 'variables';
@import 'mixins';
@import 'button';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $darkColor;
}

a{
    text-decoration: none;
}
h1{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    color: $lightColor;
}
h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    color: $lightColor;
}
p{
    font-size: 16px;
    font-weight: 300;
    color: $lightColor;
    width: 448px;
}

.container{
    width: 100vw;
}

.nav-container{
    position: relative;
    top: calc(20% + 24px);
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    align-items: center;

}
.circle{
    border-radius: 50%;
    border-width: 10px ;
    border-color: $mediumColor;
    border-style: solid;
    background-color: $mediumColor;
    width: 10px;
    height: 10px;
    margin: 0px 18px;
    opacity: 50%;
    &:hover{
        opacity: 100%;
    }
}
.line{
    width: 64px;
    height: 8px;
    background-color: $mediumColor;
    opacity: 50%;
}